/*Obecné styly pro tělo*/
body {
    font-family: Arial, sans-serif; /* Používáme písmo Arial */
    /*background-color: #f0f0f0; /* Světle šedé pozadí */
    margin: 0; /* Zrušení okrajů */
    padding: 20px; /* Přidání výplně */
}

/* Styly pro hlavičku */
#header {
    /*background-color: #4CAF50; /* Zelené pozadí */
    color: white; /* Bílý text */
    padding: 10px; /* Přidání výplně */
    text-align: center; /* Středění textu */
}

/* Styly pro aktuální datum */
#currentDate {
    font-size: 18px; /* Velikost písma */
    margin-bottom: 10px; /* Spodní okraj */
}

/* Styly pro informace */
#info {
    color: #555; /* Tmavě šedý text */
    font-size: 14px; /* Velikost písma */
    margin-bottom: 20px; /* Spodní okraj */

}

/* Styly pro vstupy */
input[type="text"] {
    width: 200px; /* Šířka vstupního pole */
    padding: 10px; /* Přidání výplně */
    margin-right: 10px; /* Pravý okraj */
    border: 1px solid #ccc; /* Světle šedý okraj */
    border-radius: 4px; /* Zaoblení rohů */
}

/* Styly pro tlačítka */
#add,#remove,#edit,#darkMod,#changeColor,#done {
    padding: 10px 15px; /* Přidání výplně */
    border: none; /* Bez okraje */
    border-radius: 4px; /* Zaoblení rohů */
    /*background-color: #4CAF50; /* Zelené pozadí */
    color: white; /* Bílý text */
    cursor: pointer; /* Změna kurzoru na ruku */
}

/* Změna barvy tlačítka při najetí myší */
/*#add:hover {
    background-color: #45a049; /* Tmavší zelená při najetí */
/*}

/* Styly pro nadpis úkolů */
#toDosH {
    font-size: 20px; /* Velikost písma */
    margin-top: 20px; /* Horní okraj */
}

/* Styly pro seznam úkolů */
#toDos {
    list-style-type: none; /* Zrušení odrážek */
    padding: 0; /* Zrušení výplně */
    margin: 0;
}

/* Styly pro jednotlivé úkoly v seznamu */
#toDos li {
    background-color: white; /* Bílé pozadí */
    margin: 5px 0; /* Horní a dolní okraj */
    padding: 10px; /* Přidání výplně */
    border: 1px solid #ccc; /* Světle šedý okraj */
    border-radius: 4px; /* Zaoblení rohů */
    width: 600px;
}

li.highlight {
    background-color: #90EE90 !important; /* Zde je barva pozadí pro zvýrazněné úkoly */
}


/*#remove:hover{
    background-color: crimson;/*přejedeme myší přes tlačítko odstranit zčervená*/
/*}*/

#edit{
    position: relative;
    left: 120px;
    bottom: 45px;
}

#darkMod{
    position: relative;
    left: 130px;
    bottom: 45px;
}

/*#edit:hover{
    background-color: darkblue;
}*/

li > button{
    background: transparent;
    color: grey;
    border: transparent;
    cursor: pointer;
}
input[type="checkbox"]{
    position: relative;
    top: 2px;
}

li.high{
    background-color: #FF7F7F  !important;
}

#removeIn {
    position: relative;
    left: 642px;
    bottom: 37px;
    width: 190px; /* Šířka vstupního pole */
    padding: 10px; /* Přidání výplně */
    margin-right: 10px; /* Pravý okraj */
    border: 1px solid #ccc; /* Světle šedý okraj */
    border-radius: 4px; /* Zaoblení rohů */
}

#done{
    position: relative;
    left: 842px;
    bottom: 36px;
}

#removeOptionsContainer{
    height: 0;
    width: 0;
}

input[type = "text"].high1{
    background-color: #FF7F7F  !important;
}

li.hev{
    transition: 1000ms ease;
    background-color: #90EE90;
}

@media (max-width: 936px) {

    #done{
        position: relative;
        left: 200px;
        bottom: 0;
    }

    #removeIn{
        position: relative;
        left: 0;
        bottom: 0;
    }

}

@media (max-width: 662px) {

    #add{
        position: relative;
        top: 40px;
        right: 470px;
    }
    #remove{
        position: relative;
        left: 70px;
        top: 3.5px;
    }

    #done{
        width: 88px;
        position: relative;
        left: 370px;
        bottom: 34px;
    }

    #removeIn{
        position: relative;
        left: 165px;
        bottom: 34px;
    }


}

@media (max-width: 576px) {

    #toDosH{
        position: relative;
        top: 40px;
    }

    #add{
        width: 100px;
        position: relative;
        top: 50px;
        right: 0;
    }
    #remove{
        width: 100px;
        position: relative;
        left: 16px;
        top: 50px;
    }

    #done{
        width: 190px;
        position: relative;
        left: 225px;
        bottom: 28px;
    }

    #removeIn{
        position: relative;
        bottom: 0;
        left: 0;
    }

    #date{
        position: relative;
        top: 0;
        right: 0;
    }

    #edit{
        width: 100px;
        position: relative;
        left:0;
        top: 0;
        bottom: 0;
    }

    footer{
        position: relative;
        top: 0;
    }

    #darkMod{
        width: 0;
        top: 0;
    }

}
@media (max-width: 430px) {

    #toDosH{
        position: relative;
        top: 0;
    }

    #add{
        width: 100px;
        position: relative;
        top: 38px;
        right: 237px;
    }
    #remove{
        width: 100px;
        position: relative;
        left: 122px;
        top: 0;
    }

    #done{
        width: 190px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    #removeIn{
        position: relative;
        bottom: 0;
        left: 0;
    }

    #date{
        position: relative;
        top: 0;
        right: 0;
    }

    #edit{
        width: 100px;
        position: relative;
        left:0;
        top: 0;
        bottom: 0;
    }

    footer{
        position: relative;
        top:0 ;
    }

    #darkMod{
        width: 70px;
        top: 0;
    }

}