
body{
  margin:0;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  position: relative;
  bottom: 16px;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

header > p{
  position: relative;
  top: 30px;
}

img{
  height: 100px;
  width: 100px;
}

