
body{
  margin:0;
  background-color: ghostwhite;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  position: relative;
  bottom: 16px;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

header > p{
  position: relative;
  top: 30px;
}

img{
  height: 100px;
  width: 100px;
}

/*td{
  width: 200px;
  height: 50px;
  border: 5px solid white;
  display: inline-block;
}*/

input[type='text']{
  border: 1px solid grey;
  position: relative;
  top: 26px;
  margin: 10px;
}

div.containerForList > #add{

  position: relative;
  left: 400px;
  margin: 15px;
  border: 1px solid grey;
  padding: 5px;

}

ul{
  margin: 20px;
}

ul > li {
  width: 500px;
  display: block;
  border: 1px solid darkgrey;
  padding: 5px;
  border-radius: 4px;
  margin: 10px;
}


div > input[placeholder = "date of completion here"]{

  width: 200px;

}

div>ul>li>input[type="checkbox"]{
  position: relative;
  top: 1px;
  margin: 10px;
}
#rem{
  position: relative;
  bottom: 2px;
}

p{
  margin: 10px;
}

#add{
  position: relative;
  bottom: 30px;
  font-size: 20px;
  padding: 0;
  background-color: rgb(0,50,100);
  color: white;
}
#remALL{
  position: relative;
  bottom: 30px;
  left: 390px;
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 0;
}

#add:hover{
  background-color: navy;
}
#remALL:hover{
  background-color: crimson;
}

div.alert-box{
  position: fixed; /* So it floats on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ec2d2d; /* Light red color for alert */
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 300px;
  cursor: pointer;
}

div.alert-box>ul>li{
  background-color: white;
  color: black;
}


div.alert-box>ul>li:hover{
  background-color: #ec2d2d;
  color: white;
}

button.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

div > ul{
  list-style: none;
  padding: 0;
}

div > ul > li{
  margin: 8px 0;
}

div.input-edit{
  position: fixed; /* So it floats on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue; /* Light red color for alert */
  color: white;
  border: 1px solid #f5c6cb;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 300px;
  cursor: pointer;
}

div.input-edit>input{
  position: relative;
  margin-bottom: 50px;
  background-color: navy;
}

button.close-btn2{
  margin: 0;
  position: relative;
  top: 27px;
  background-color: navy;
  width: 50px;
}

button.edit{
  margin: 0;
  position: relative;
  top: 27px;
  background-color: navy;
  padding: 1px;
  width: 100px;
}