.App {

}

.App-logo {
}

.App-header {
  background-color: #282c34;
  height: 100px;
  width: 100%;
  color: white;
  position: relative;
  bottom: 20px;
  text-align: center;
}

header > p {
  position: relative;
  top: 30px;
}
